
name: Terraform

on:
  workflow_dispatch:
  push:
    branches: [ nasten ]  # change to your default branch if different

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: CloudDevOps


    # If your .tf files are inside a subfolder, set it here:
    # defaults:
    #   run:
    #     working-directory: infra

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform Version
        run: terraform version

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply (auto-approve)
        if: github.event_name == 'workflow_dispatch' # apply only on manual runs
        run: terraform apply -auto-approve tfplan
